<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shelf</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>

        <!-- Header -->
        <header>
            <div class="navbar bg-base-100 shadow-sm">
                <!-- Logo or Name -->
                <div class="flex-1">
                    <a class="btn btn-ghost text-xl" href="/category">SHELF</a>
                </div>

                <!-- Profile Photo -->
                <div class="flex gap-2 mr-3">
                    <!-- <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" /> -->
                    <% if (user.profileImage) {%>
                    <div>
                        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                            <div class="w-10 rounded-full">
                                <a href="/category">
                                    <img src="<%= user.profileImage %>" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="avatar avatar-placeholder">
                            <div class="bg-neutral text-neutral-content w-10 rounded-full">
                                <span class="text-2xl"><%= user.userName.split(' ').map(word => word.charAt(0).toUpperCase()).join(' ') %></span>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </header>
        
        <!-- Main Section -->
        <div class="min-h-128 flex flex-col min-[450px]:flex-row">

            <div class="min-[685px]:w-1/5 min-h-2/5 p-1">
                <!-- Navigation -->
                <nav>
                    <ul class="menu bg-base-200 w-full [&_li>*]:rounded-none p-0 flex-row min-[450px]:flex-col justify-center">
                        <li><a href="/category" class="menu-active">Home</a></li>
                        <li><a href="/category/getInventory">Inventory</a></li>
                        <li><a href="/category/getTransaction">Make Transaction</a></li>
                        <li>
                            <details>
                                <summary>Transaction Log</summary>
                                <ul>
                                    <li><a href="/category/getLog">Incoming</a></li>
                                    <li><a href="/category/getOutgoing">Outgoing</a></li>
                                </ul>
                            </details>
                        </li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
            
                <ul class="menu full:menu-horizontal bg-base-200 rounded-box mt-3 mx-auto w-full flex-row justify-center">
                    <!-- Uploading of Profile Photo -->
                    <li>
                    <!-- Adding a Photo -->
                    <% if ( user.profileImage ) { %>
                    <details>
                        <summary class="text-center">Change Profile Photo</summary>
                        <form action="/category/changeProfilePhoto?_method=PUT" enctype="multipart/form-data" method="POST" class="bg-base-100 rounded-t-none p-2">
                            <div>
                                <input type="file" name="file" class="file-input">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-neutral mt-4">Upload</button>
                            </div>
                        </form>
                    </details>
                    <!-- Changing the Photo-->
                    <% } else { %>
                        <details>
                        <summary class="text-center">Add Profile Photo</summary>
                        <form action="/category/uploadProfilePhoto?_method=PUT" enctype="multipart/form-data" method="POST" class="bg-base-100 rounded-t-none p-2">
                            <div>
                                <input type="file" name="file" class="file-input">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-neutral mt-4">Upload</button>
                            </div>
                        </form>
                    </details>
                    <% } %>

                    </li>
                    <!-- Adding a Category -->
                    <li class="w-full">
                        <details class="mx-auto">
                            <summary>Add Category</summary>
                            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4 mt-2">
                                <form action="/category/createCategory" enctype="multipart/form-data" method="POST">
                                    
                                    <label for="categoryName" class="label">Name</label>
                                    <input type="text" name="categoryName" class="input" id="categoryName" required/>
                                    
                                    <label for="description" class="label w-full">Description</label>
                                    <textarea name="description" class="label w-full pt-2 pl-3" id="description"></textarea>
                                    
                                    <div>
                                        <label for="imageUpload" class="fieldset-legend">Image</label>
                                        <input type="file" name="file" id="imageUpload" class="file-input">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-neutral mt-4">Add</button>
                                </form>
                            </fieldset>
                        </details>
                    </li>
                    <li class="w-full">
                        <details class="mx-auto">
                            <summary>
                                <form action="/category/extractPhotoCategory" enctype="multipart/form-data" method="POST">
                                    <div>
                                        <label for="imageUpload" class="fieldset-legend">Image</label>
                                        <input type="file" name="file" id="imageUpload" class="file-input">
                                    </div>
                                    <button type="submit" class="btn btn-neutral mt-4">Extract</button>
                                </form>
                            </summary>
                        </details>
                        <h3></h3>
                    </li>
                </ul>
            </div>

            <!-- Main Content Section or the Categories -->
            <div class="w-full min-[685px]:w-4/5 h-1/4 p-1">
                <!-- Heading of the Page/Category -->
                <h1 class="text-2xl pl-2 pb-5 text-center"><%= user.userName.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>'s Categories</h1>
                <!-- List of the Categories -->
                <ul class="flex flex-wrap justify-center">
                    <% for ( var i = 0; i < categories.length ; i++ ) { %>
                    <li class="px-1 pb-2">
                        <div class="card bg-base-100 w-3xs shadow-sm h-full">
                            
                            <!-- Avatar of the category -->
                            <figure class="px-5 pt-5">
                            <% if (categories[i].categoryPhoto) { %>
                                <img src="<%= categories[i].categoryPhoto %>" class="rounded-xl" />
                            <% } else { %>
                                <div class="avatar avatar-placeholder">
                                    <div class="bg-neutral text-neutral-content w-32 rounded-full">
                                        <!-- for first letter display only ( .split(' ')[0].charAt(0).toUpperCase() )-->
                                        <span class="text-2xl text-center"><%= categories[i].name.split(' ').map(word => word.charAt(0).toUpperCase()).join(' ') %></span>
                                    </div>
                                </div>
                            <% } %>
                            </figure>
                            
                            <!-- Category Details -->
                            <div class="card-body items-center text-center">
                                <h2 class="card-title"><%= categories[i].name %></h2>
                                <p><%= categories[i].description %></p>
                                <div class="card-actions">
                                    <a href="/category/getItem/<%= categories[i]._id %>" class="btn btn-primary">Open</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4">
            <aside>
                <p>Copyright © 2025 - All right reserved.</p>
            </aside>
        </footer>
    </body>
</html>